<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>API de sincronização do Google calendar</h1>
    </header>

    <main class="container">
      <div>
        <form id="pageForm">
          <h3>Id da database</h3>
          <label for="dbId">Id</label>
          <input type="text" id="dbId" />
          <h3>Key de acesso a API</h3>
          <label for="apikey">Chave de acesso</label>
          <input type="text" id="apiKey" />
          <!-- <p id="dbResponse"></p> -->
          <h3>Add a page to the database</h3>
          <label for="newPageDB">Parent DB ID</label>
          <input type="text" id="newPageDB" />
          <label for="newPageName">New page name</label>
          <input type="text" id="newPageName" />
          <label for="header">Header 1</label>
          <input type="text" id="header" />
          <input type="submit" />
        </form>
        <!-- <p id="pageResponse"></p> -->
        <!-- <tr>
          <td>
            <h3>3. Add content to the page</h3>
            <form id="blocksForm">
              <label for="pageID">Page ID</label>
              <input type="text" id="pageID" />
              <label for="content">Content</label>
              <input type="text" id="content" />
              <input type="submit" />
            </form>
          </td>
          <td id="blocksResponse"></td>
        </tr> -->
      </div>
    </main>
  </body>
</html>
